.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrap {
  width: 740px;
}

@media only screen and (max-width: 600px) {
  .container {
    height: auto;
    padding: 15% 5%;
  }

  .wrap {
    width: 100%;
  }
}
